/* Important id that is highlighted, bonded, and underline to emphasis its importance*/
#important {
    background-color: yellow;
    text-decoration: underline;
    text-decoration: solid;
    color: black;
    text-align: left;
}
/* Add Roboto font*/
@font-face {
    font-family: ROBOT;
    src: url(Roboto-Black.ttf);
}
/* Add Poppin font*/
@font-face {
    font-family: POP;
    src: url(Poppins-Black.ttf);
}

/* Heading 1 (size, color, text-align)*/
h1 {
    text-align: center; 
    color: hsl(205, 100%, 50%);
    height: 100;
    width: 200;
    max-width: 300;
    min-width: 100;
    position: relative;
    font-family: ROBOT;
}

/* Heading 2 and 3*/
h2, h3 {
    text-align: center; 
    color: (0, 0, 255);
    position: static;
    font-family: POP;
}

/* Flex for attendance*/
.Attendance{
    display: flex;
    flex-direction: column;
    flex-flow : column wrap;
    order: 1;
    flex-basis: auto;
    align-self: auto;
    font-family: ROBOT;
}

/* Grid for media*/
.sidebar1 {
    grid-area: sidebar1;
}
.sidebar2 {
    grid-area: sidebar2;
}
.audio {
    grid-area: audio;
    position: relative;
}
.video {
    grid-area: video;
    position: relative;
}
  
.miniHeader {
  grid-area: header;
}

.Media{
    display: grid;
      grid-gap: 10px;
      grid-template-columns: 100px 250x 250px;
      grid-template-areas:
      "header  header  header"
      "sidebar1 audio audio"
      "sidebar2 video video";
      background-color: #fff;
      color: #444;
}